:root {
  --gradient_colors: hsla(214, 100%, 34%, 1) 0%, hsla(214, 100%, 34%, 1) 41%,
    hsla(194, 85%, 29%, 1) 51%, hsla(163, 74%, 30%, 1) 68%,
    hsla(113, 80%, 44%, 1) 100%;
}
.puzzle {
  h1 {
    font-size: 48px;
  }
  h1,
  p {
    margin: 10px;
  }
  input {
    margin-left: 10px;
  }
}

.board {
  font-family: "Lobster", cursive;
  min-width: 300px;
  margin: 10px;

  .square {
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background: #004bac;
    color: #fff;
    // border: 1px solid rgb(235, 235, 235);
    border: 1.5px solid #2bc916;
    line-height: 60px;
    text-align: center;
    &.zero {
      background: beige;
      color: #004bac;
    }
  }
}

